<p id="notice"><%= notice %></p>

<h1>Screenshots</h1>

<div class="gallery-block">
  <%= message_for_empty_gallery @screenshots %>
  <div id="lightgallery">
    <% @screenshots.each do |screenshot| %>
      <a href="<%= screenshot.photo_url %>" >
          <img src="<%= screenshot.photo_url %>"  class = "main-screenshot" name='hello' alt=<%= screenshot.name %>/>
      </a>
    <% end %>
  </div>
  <%= paginate @screenshots %>
</div>
